<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <style>
      html{
         background: url(/images/errorBackground.jpg) no-repeat center center fixed;
         background-size: cover;
         height: 100%;
         overflow-x: hidden;
      }
   </style>
</head>

<h1 style="font-size: 30px; text-align: center; margin-top: 100px; color: white;">OPS...</h1>
<h4 style="font-size: 30px; text-align: center; margin-top: 100px; color: white;">QUALCOSA SEMBRA ESSERE ANDATO STORTO </h4>

<p style="text-align: center; margin-top: 20px; color: white;">Torna alla Home</p>
<div style="margin-top: 15px; text-align: center;">
   <a href="/default">
      <button style="border-radius: 10px 10px 10px 10px; width:100px; height: 40px;">Home</button>
   </a>
</div>

</html>