<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{header.persone})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
    	<h4 th:text="#{header.persone}">List of persons</h4>
		<ul>
			<li th:each="persona : ${persone}">
				<a href="persona.html" 
				   th:href="@{'/persona' + '/' + ${persona.id}}" 
				   th:text="|${persona.nome} ${persona.cognome}|">Paolo Rossi</a>
			</li>
		</ul>
	</div>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>
