<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/register.css}" rel="stylesheet">

<head>
    <title>Registrazione</title>
</head>

<body>
    <header></header>
    <div style="text-align: center; margin-top: 5%;">
        <form th:action="@{/register}" method="POST">
            <h4>Registrazione</h4>
            <section>
                <div class="form-group">
                    <input type="text" required th:field="*{credentials.username}" placeholder="Username">
                    <span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}"></span>
                </div>
                <div class="form-group">
                    <input type="password" required th:field="*{credentials.password}" placeholder="Password">
                    <span th:if="${#fields.hasErrors('credentials.password')}" th:errors="*{credentials.password}"></span>
                </div>
                <div class="form-group">
                    <input type="text" required th:field="*{user.nome}" placeholder="Nome">
                    <span th:if="${#fields.hasErrors('user.nome')}" th:errors="*{user.nome}"></span>
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{user.cognome}" placeholder="Cognome">
                    <span th:if="${#fields.hasErrors('user.cognome')}" th:errors="*{user.cognome}"></span>
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{user.codiceFiscale}" placeholder="codiceFiscale">
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{user.email}" placeholder="email">
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{user.recapito}" placeholder="recapito">
                </div>
                <div class="form-group">
                    <input type="date" th:field="*{user.dataDiNascita}" placeholder="dataDiNascita">
                </div>

                <span style="margin-top:10px;">
                    <button style="border-radius: 10px 10px 10px 10px; width:100px; height: 40px;" type="submit">
                        Registrati
                    </button>
                </span>
            </section>
        </form>
    </div>
    <footer></footer>
</body>

</html>